.container {
  /* padding: 20px; */
  /* border-radius: 10px; */
  background-color: var(--bgSoft);
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.columnContainer {
  display: flex;
  flex-direction: column; /* <-- this makes it a vertical stack */
  align-items: left;
  
}

.title {
  color: var(--text);
  font-size: large;
  font-weight: 900;
  text-transform: capitalize;
}

.subtitle {
  color: var(--textSoft);
  font-size:0.7rem;
  font-weight: 500;
}
.reportbutton {
  padding-left: 10px;
  padding-right: 10px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(90deg, #3bc9f3 0%, #8f42f1 100%);
  padding: 10px;
  border-radius: 10px;
}
.borderbtn {
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 10px; */
  padding: 10px 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, #3bc9f3, #8f42f1);
  color: #fff;
  overflow: hidden;
  z-index: 0;
}

.borderbtn::before {
  content: "";
  position: absolute;
  inset: 2px; /* border thickness */
  background: var(--bgSoft); /* inner background color */
  border-radius: 10px; /* border-radius minus border thickness */
  z-index: -1;
}
.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.icons{
  display: flex;
  gap: 20px;
}
